In [9]:
#Import
from pandas_profiling import ProfileReport
import pandas as pd

In [10]:
#Import df
VI= pd.read_csv('virtualInternshipData_ADS2001.csv', encoding= 'unicode_escape')

In [11]:
VI = VI.drop(['Unnamed: 0', 'Line_ID'], axis = 1)

In [12]:
#drop the unnecessary variables
VI_new = VI_new.drop(['ChatGroup', 'roomName', 'content', 'wordCount'], axis = 1) #group_id required for team level statistics
VI_new.tail(2)

,userIDs,implementation,group_id,RoleName,m_experimental_testing,m_making_design_choices,m_asking_questions,j_customer_consultants_requests,j_performance_parameters_requirements,j_communication,OutcomeScore
391,14,a,3,Player,0,0,0,0,0,0,2
392,11,a,3,Player,0,0,0,0,1,0,4

In [13]:
#to avoid warnings
pd.set_option('mode.chained_assignment', None)

In [14]:
#sum of score, word count, (etc) of a user. To easily do team level stat
for i in range(0,393): #0-392, 1-393
    VI_new['userIDs'][i] = i + 1 #user_id = 1+ row index
    
    #Setting the values of scores to 0
    VI_new['m_experimental_testing'][i] = 0
    VI_new['m_making_design_choices'][i] = 0
    VI_new['m_asking_questions'][i] = 0
    VI_new['j_customer_consultants_requests'][i] = 0
    VI_new['j_performance_parameters_requirements'][i] = 0
    VI_new['j_communication'][i] = 0
    
    set_up_done = False
    for j in range(0, 19180):
        
        if VI['userIDs'][j] == i + 1: #if user id matches
            if set_up_done == False:
                VI_new['group_id'][i] = VI['group_id'][j]
                VI_new['RoleName'][i] = VI['RoleName'][j]
                VI_new['OutcomeScore'][i] = VI['OutcomeScore'][j]
                VI_new['implementation'][i] = VI['implementation'][j]
                set_up_done = True
              
            VI_new['m_experimental_testing'][i] += VI['m_experimental_testing'][j]
            VI_new['m_making_design_choices'][i] += VI['m_making_design_choices'][j]
            VI_new['m_asking_questions'][i] +=  VI['m_asking_questions'][j]
            VI_new['j_customer_consultants_requests'][i] += VI['j_customer_consultants_requests'][j]
            VI_new['j_performance_parameters_requirements'][i] += VI['j_performance_parameters_requirements'][j]
            VI_new['j_communication'][i] += VI['j_communication'][j]

In [15]:
VI_new

,userIDs,implementation,group_id,RoleName,m_experimental_testing,m_making_design_choices,m_asking_questions,j_customer_consultants_requests,j_performance_parameters_requirements,j_communication,OutcomeScore
0,1,a,2,Mentor,3,26,30,3,6,19,4
1,2,a,2,Player,2,4,17,0,4,0,4
2,3,a,2,Player,1,4,3,0,1,0,4
3,4,a,2,Player,2,2,3,1,5,0,4
4,5,a,2,Player,0,0,6,0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...
388,389,o,6,Player,2,8,4,1,7,0,7
389,390,o,6,Player,0,5,6,1,2,0,4
390,391,o,6,Player,2,3,11,1,4,0,5
391,392,o,6,Player,2,4,4,0,2,0,5
392,393,o,6,Player,5,6,8,1,7,0,4

VI_new.to_csv(r'VI separated by userIDs.csv', index_label = None)

In [17]:
#Divide the score of the user ID by the number of lines written by the user.
for i in range(1,394):
    n = len(VI[VI['userIDs'] == i])
    if n == 0:
        continue
    VI_new['m_experimental_testing'][i-1] = VI_new['m_experimental_testing'][i-1]/n
    VI_new['m_making_design_choices'][i-1] = VI_new['m_making_design_choices'][i-1]/n
    VI_new['m_asking_questions'][i-1] = VI_new['m_asking_questions'][i-1]/n
    VI_new['j_customer_consultants_requests'][i-1] = VI_new['j_customer_consultants_requests'][i-1]/n
    VI_new['j_performance_parameters_requirements'][i-1] = VI_new['j_performance_parameters_requirements'][i-1]/n
    VI_new['j_communication'][i-1] = VI_new['j_communication'][i-1]/n

VI_new.to_csv(r'VI for Visualisation.csv', index_label = None)