In [48]:
import pandas as pd

In [42]:
df = pd.read_csv('virtualInternshipData_ADS2001.csv', encoding = 'unicode_escape')

df.describe()

,Unnamed: 0,userIDs,Line_ID,group_id,m_experimental_testing,m_making_design_choices,m_asking_questions,j_customer_consultants_requests,j_performance_parameters_requirements,j_communication,OutcomeScore,wordCount
count,19180.000000,19180.000000,19180.000000,19180.000000,19180.000000,19180.000000,19180.000000,19180.000000,19180.000000,19180.000000,19180.000000,19180.000000
mean,9590.500000,202.433212,9592.793796,3.916736,0.028728,0.102868,0.187018,0.018144,0.052242,0.021064,3.741606,12.489520
std,5536.933417,118.355170,5537.800672,1.397935,0.167045,0.303794,0.389936,0.133475,0.222520,0.143600,1.464839,14.117233
min,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4795.750000,96.000000,4796.750000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,4.000000
50%,9590.500000,204.000000,9593.500000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,9.000000
75%,14385.250000,317.000000,14388.250000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,17.000000
max,19180.000000,393.000000,19183.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.000000,1032.000000

In [37]:
df['group_id'].unique()

array([2, 3, 4, 5, 6], dtype=int64)

In [41]:
group2 = df[df['group_id'] == 2]
group3 = df[df['group_id'] == 3]
group4 = df[df['group_id'] == 4]
group5 = df[df['group_id'] == 5]
group6 = df[df['group_id'] == 6]

group2.describe()

,Unnamed: 0,userIDs,Line_ID,group_id,m_experimental_testing,m_making_design_choices,m_asking_questions,j_customer_consultants_requests,j_performance_parameters_requirements,j_communication,OutcomeScore,wordCount
count,4096.000000,4096.000000,4096.000000,4096.0,4096.000000,4096.000000,4096.000000,4096.000000,4096.000000,4096.000000,4096.000000,4096.000000
mean,9239.186523,197.536621,9241.462158,2.0,0.026611,0.097900,0.181396,0.017334,0.053711,0.020996,3.474365,12.567383
std,5682.201533,122.249848,5683.107357,0.0,0.160964,0.297216,0.385393,0.130528,0.225474,0.143389,1.360287,19.813609
min,1.000000,1.000000,1.000000,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4413.750000,90.000000,4414.750000,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,4.000000
50%,9353.500000,201.000000,9356.500000,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,9.000000
75%,14591.250000,322.000000,14594.250000,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,16.000000
max,17947.000000,372.000000,17950.000000,2.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000,1032.000000

In [40]:
group2['userIDs'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,  35,  36,  37,  38,  39,
        63,  64,  65,  66,  67,  68,  69,  90,  91,  92,  93,  94,  95,
       117, 118, 119, 120, 121, 122, 123, 144, 145, 146, 147, 148, 149,
       150, 172, 173, 174, 175, 176, 177, 178, 199, 200, 201, 202, 203,
       204, 205, 227, 228, 229, 230, 231, 232, 233, 254, 255, 256, 257,
       258, 259, 278, 279, 280, 281, 282, 283, 301, 302, 303, 304, 320,
       321, 322, 323, 343, 344, 345, 346, 347, 348, 367, 368, 369, 370,
       371, 372], dtype=int64)